/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");

// Custom CSS
.font-header {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.content {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.--collapse {
  transition: all 500ms;
}

.--fade-in {
  animation: fade-in 1s ease-in-out;
}

.loader {
  height: 5px;
  background-color: LimeGreen;
  width: 0px;
  animation: 2s grow-bar;
}

@keyframes grow-bar {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
